@page "/about"


<PageTitle>Home</PageTitle>

<img class="about-me-picture" src="./sultan_v3.jpeg" />

<h4 class="sultan-intro">
    Hi, my name is I'm Sultan Dzhumaev. I am a Cloud Developer with a strong passion for leveraging Microsoft technologies to build powerful and scalable web services. With a deep understanding of the .NET stack and extensive experience working with Azure, I specialize in designing and implementing cloud-based web solutions that are both reliable and future-ready.
    <hr />
    Over the years, I've had the opportunity to work on a variety of projects, and my role involves not just backend development, but also hands-on DevOps work including defining CI/CD pipelines, and ensuring automated deployments with IaC.
    <hr />
    What drives me is the challenge of creating solutions that align with both technical requirements and business goals. I enjoy diving into complex problems, identifying bottlenecks, and collaborating with cross-disciplinary teams to deliver high-quality software that meets the needs of the end-users.
</h4>