<p>© 2024 Sultan Dzhumaev</p>
<div>
    <a href="mailto:dzjumajev95@gmail.com" target="_blank"><i class="fa-solid fa-envelope"></i></a>
    <a href="https://www.linkedin.com/in/sultan-dzjumajev-a24b7319b" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
    <a href="https://github.com/radioactive1995" target="_blank"><i class="fa-brands fa-github"></i></a>
</div>