@page "/"
@inject IMediator Mediator

<PageTitle>Home</PageTitle>

<ul class="intro-logos">
    <li><img src="./Microsoft_.NET_logo.svg" /></li>
    <li><img src="./azure-devops.svg" /></li>
    <li><img src="./Microsoft_Azure.svg" /></li>
</ul>

<h4 class="home-intro">
    Welcome! This newsletter maintained by me, Sultan Dzhumaev, is a space where I'll occasionally share my ideas and knowledge about .NET and C#. It's a place for exchanging insights and learning together.
</h4>

<h4 class="home-intro">
    Currently <span id="current-developers">@SubscribersCountResult?.Value?.Count</span> developers have chosen to stay updated and receive notifications via email when new articles are published. Join today and be part of the community!
</h4>

<form id="epost-form" method="post" @onsubmit="Submit" @formname="email-form">
    <AntiforgeryToken />
    <input required type="email" @bind="Email" id="email-input" placeholder="Enter your email...">
    <button id="email-submit" type="submit">
        Submit
        @if (ShowLoading)
        {
            <div class="loader"></div>
        }
    </button>
</form>

<p>By submitting, you are giving consent for the collection of personal data in accordance with our <a / href="privacy">privacy statement</a>.</p>

@if ((!ShowLoading && SubmitResult.HasValue && ((SubmitResult.Value.IsError && SubmitResult.Value.FirstError.Type == ErrorType.Conflict) || !SubmitResult.Value.IsError)))
{
    <div id="success-email"><h4>You are subscriped to the newsletter!</h4></div>
}

else if (!ShowLoading && SubmitResult.HasValue && SubmitResult.Value.IsError)
{
    <div id="exhausted-email"><h4>Exhausted attempts to subscribe, try again later.</h4></div>
}

@code {
    protected override async Task OnInitializedAsync()
    {
        SubscribersCountResult = await Mediator.Send(new FetchSubscribersCount.Query());
    }

    public string Email { get; set; } = string.Empty;
    private bool ShowLoading { get; set; } = false;

    public Result<FetchSubscribersCount.Response>? SubscribersCountResult { get; set; }
    public Result<Unit>? SubmitResult { get; set; }


    private async Task Submit()
    {
        if (ShowLoading) return;

        ShowLoading = true;
        SubmitResult = await Mediator.Send(new SubscribeToNewsletter.Command(Email));
        ShowLoading = false;
    }
}
