@page "/privacy"

<h1>Privacy Statement</h1>
<p>We value your privacy and are committed to protecting your personal data. Below, we outline the personal data we process, how we use it, and your rights regarding your data.</p>

<h4>Personal Data We Process</h4>
<ul>
    <li>Email Address</li>
    <li>Session Data</li>
</ul>

<h4>How We Use Your Personal Data</h4>
<p>We use your email address to deliver the newsletter you signed up for. The legal basis for processing your email address is your consent. You can withdraw this consent at any time by unsubscribing from the newsletter.</p>
<p>Web Session data is temporarily collected to prevent subscription abuse. The legal basis for processing this data is our legitimate interest in maintaining the security and integrity of our services. This data is stored up to 5 hours and is then securely deleted.</p>

<h4>Your Rights</h4>
<p>You have the following rights regarding your personal data:</p>
<ul>
    <li><strong>Right of Access:</strong> You can request a copy of all information we process about you. Contact us to exercise this right.</li>
    <li><strong>Right to Correction:</strong> You can ask us to correct or update any information that is incorrect or misleading.</li>
    <li><strong>Right to Deletion:</strong> You can request that we delete your personal data without undue delay. You can ask us to delete your information at any time.</li>
</ul>

<p>For any questions or to exercise your rights, please contact us with social/email details below.</p>

@code {

}
