@page "/sultan"

<PageTitle>Home</PageTitle>

<h4 class="sultan-intro">
    Sultan is a backend developer with a deep understanding and expertise in the .NET
    technology stack, especially in web API development. He has substantial experience
    in designing and implementing scalable and reliable web services, with a strong
    focus on modern development principles such as domain-driven design, CQRS
    pattern, clean architecture, and authentication using identity providers.
    Sultan's understanding also extends to cloud infrastructure, where he employs
    Infrastructure as Code (IaC) with Bicep to define and deploy services through
    automated pipelines. This includes setting up resources that are to be continuously
    rolled out.
    <hr />
    Furthermore, Sultan has the ability to integrate with cloud-specific resources. This
    allows him to enrich the services he develops, achieving data storage, message
    exchange, and the collection of telemetry data. This depth of integration ensures
    that his web API services are not only functional and reliable but also optimized for
    performance, scalability, and monitoring/visibility of cloud-based distributed
    systems.
    <hr />
    In addition to his technical skills, Sultan has demonstrated a remarkable ability to
    understand and adapt to clients' needs, making him a valuable resource not only as
    a developer but also as a consultant. His ability to deliver solutions that align with
    clients' business models underscores his versatility and commitment to his field.
</h4>
