@page "/articles/{id:int}"
@inject IMediator Mediator



<PageTitle>Article</PageTitle>

@if (ArticleResponse != null)
{
    <p>@ArticleResponse.MarkdownContent, @ArticleResponse.PublishedDate</p>
    <div class="article-content article-color">
        <h1>@ArticleResponse.Title</h1>
        @(new MarkupString(Markdown.ToHtml(ArticleResponse.MarkdownContent)))
    </div>
}

@code {
    [Parameter]
    public int Id { get; set; }
    public FetchArticle.Response? ArticleResponse { get; set; }

    protected override async Task OnInitializedAsync()
    {
        ArticleResponse = await Mediator.Send(new FetchArticle.Query(Id));
    }
}
