@page "/articles/{id:int}"
@inject IMediator Mediator



<PageTitle>Article</PageTitle>

@if (ArticleResponse != null)
{
    <h1 class="article-color">@ArticleResponse.Title</h1>
    <div class="article-content article-color">@(new MarkupString(Markdown.ToHtml(ArticleResponse.MarkdownContent)))</div>
}

@code {
    [Parameter]
    public int Id { get; set; }
    public FetchArticle.Response? ArticleResponse { get; set; }

    protected override async Task OnInitializedAsync()
    {
        ArticleResponse = await Mediator.Send(new FetchArticle.Query(Id));
    }
}
