.pagination {
    margin: 0 auto 60px auto;
    display: flex;
    list-style-type: none;
    padding: 0;
    transform: scale(2);
    width: 30%;
    display: block;
    justify-content: center;
    text-align: center;
}

.pagination button {
padding: 8px 16px;
text-decoration: none;
margin: 0 2px;
border: 0;
background-color: #E6F2FA;
color: #2D2D2D;
}

.pagination button:hover:not(.active) {
    background-color: #E6F2FA;
}

.pagination button.active {
    background-color: #E6F2FA;
    color: #2D2D2D;
    border: 0;
}

.pagination     .disabled {
    pointer-events: none;
    border: 0;
    opacity: 0;
}

.pagination .ellipsis {
padding: 8px 16px;
color: #999;
}

@media screen and (max-width: 640px) {

    .pagination {
        margin-bottom: 25px;
    }

    .pagination button {
        padding: 0;
    }
}
