nav {
    height: 100%;
    opacity: 1 !important
}

ul {
    display: flex;
    gap: 20px;
    height: 100%;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    opacity: 1 !important
}


a {
    text-decoration: none;
    height: 100%;
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    opacity: 1 !important;
}

a:hover {
    text-decoration: underline;
    color:  #FAFAFA;
}